<h1>August Website</h1>

<h2>Students</h2>

<<<<<<< HEAD
  <ul>
    <li>Ana</li>
    <li><a href="/jen">Jen</a></li>
    <li><a href="/jessica">Jessica</a></li>
  </ul>
=======
<ul>

  <ul>
    <li>Ana</li>
    <li><a href="/jen">Jen</a></li>
  </ul>

  <li><a href="/carla">carla</a></li>
  <li>Ana</li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/anita"></a></li>  
  <li><a href="/samuele">Samuele</a></li>
</ul>
>>>>>>> ed7309328d26cca35fb45d27f02fd3123e77e5b1

<li><a href="/flowantsicecream">Flo</a></li>
</ul>
<h2>Teachers</h2>

<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>