<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>August Website</h1>

<h2>Students</h2>

<ul>
<<<<<<< HEAD
  <li><a href="/ana">Ana</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/carla">carla</a></li>
=======
  <li>Ana</li>
   <li><a href="/jessica">Jessica</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/carla">carla</a></li>
  <li><a href="/anita">Anita</a></li>
>>>>>>> d43901ca584910e05c526cce2e37a4e10afb81fa
  <li><a href="/samuele">Samuele</a></li>
<li><a href="/flowantsicecream">Flo</a></li>
</ul>
<<<<<<< HEAD

</ul>

=======
>>>>>>> d43901ca584910e05c526cce2e37a4e10afb81fa
<h2>Teachers</h2>
<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>