<h1>The Best Class</h1>

<p>Welcome to 10th floor</p>

<img src="https://media1.tenor.com/images/f6596bb306645084dd1624302ebd2f15/tenor.gif?itemid=5103695" alt="">

<h2>Students</h2>
<ul>

  <li><a href="/ana">Ana</a></li>
  <li><a href="/carla">Carla</a></li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/nicole">Nicole</a></li>

  <li><a href="/jessica">Jessica</a></li>

  <li><a href="/ojuna">Ojuna</a></li>
  <li><a href="/anita">Anita</a></li>
  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>
  <li><a href="/alina">Alina</a> </li>
  <li><a href="/nhan">Nhan</a></li>
  <li><a href="/anita-kash">Anita and Kash</a></li>

</ul>

<h2>Teachers</h2>
<ul>
  <li>
    <a href="/maxence">Maxence</a>
  </li>
</ul>