<<<<<<< HEAD
<h1></h1>
</h1>
<p>Welcome to {{title}}</p>
=======
<h1>August Website</h1>

<h2>Students</h2>

<h2>Teachers</h2>

<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>
>>>>>>> ca3131edcc7e8638eedad068849e422e150b3df2
