<h1>August Website</h1>

<h2>Students</h2>
<ul>

  <ul>
    <li>Ana</li>
    <li><a href="/jen">Jen</a></li>
    <li><a href="/jessica">Jessica</a></li>
  </ul>

</ul>

<h2>Teachers</h2>

<ul>
  <li><a href="/maxence">Maxence</a></li>
</ul>