<h1>August Website</h1>

<h2>Students</h2>

<ul>

  <ul>
    <li>Ana</li>
    <li><a href="/jen">Jen</a></li>
  </ul>

  <li><a href="/carla">carla</a></li>
  <li>Ana</li>
  <li><a href="/jen">Jen</a></li>
  <li><a href="/anita"></a></li>
  <li><a href="/samuele">Samuele</a></li>
  <li><a href="/flowantsicecream">Flo</a></li>

  <h2>Teachers</h2>

  <ul>
    <li><a href="/maxence">Maxence</a></li>
  </ul>